{% extends 'layout.html' %} {% block content %}
{% include 'navbar.html' %}


<div class="container mt-5">
    {% include '_messages.html' %}
    <div class="row">
        <section class="vh-100">
            <div class="container shadow-lg h-100">
                <tr><a href="{{url_for('home')}}" class="btn btn-dark flex-shrink-0 col-2 my-2 " style="background-color:rgba(106, 17, 203, 1)!important">Continue
                    Shopping</a></tr>       
                <div class="row d-flex h-100">
                    <div class="col-12 col-md-12 col-lg-6 col-xl-12">
                        <div class="card" style="border-radius: 0.3rem">
                    <div class="card-body d-flex justify-content-center p-5 " style="background: #ecebf3 !important">
                        <table class="table table-lg text-center align-middle">
                            <thead>
                                <th>#</th>
                                <th>Image</th>
                                <th>Name</th>
                                <th>Color</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Discount</th>
                                <th>Subtotal</th>
                                <th></th>
                                <th></th>
                            </thead>
                            <tbody>
                                {% for key, product in session['Shoppingcart'].items() %}
                                {% set discount = "%0.2f"|format((product.discount/100) * product.price|float)%}
                                <tr>
                                    <td>{{loop.index}}</td>
                                    <td><img src="{{url_for('static', filename='images/'+ product.image)}}" 
                                        alt="{{product.name}}" width="45rem" height="45rem"></td>
                                    <td>{{product.name}}</td>
                                    <form action="{{url_for('updatecart', code=key)}}" method="post">
                                    <td>
                                        {%set colors = product.colors.split(",") %}
                                        <select class="form-control text-dark" style="background-color:transparent" name="color" id="color">
                                            <option value="{{product.colors}}" class="text-decoration-none">{{product.colors|capitalize}}</option>
                                            {% for color in colors %}
                                            {% set col = color.split(':') %}
                                            <option value="{{col[0]}}">{{col[0] | capitalize }}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                    <td>{{product.price}} kr</td>
                                    <td><input class="form-control text-dark " type="number" name="quantity" min="1" max="10" value="{{product.quantity}}"></td>
                                    {% if product.discount > 0%}
                                    <td>{{product.discount}}% saved {{discount}}</td>
                                    {% else %}
                                    <td></td>
                                    {% endif %}
                                    {% set subtotal = product.quantity|int * product.price|float %}
                                    <td>{{"%0.2f"|format((subtotal|float)- discount|float)}}</td>
                                    <!-- UPDATE BUTTON -->
                                    <td><button href="#" type="submit" class="btn btn-outline-dark flex-shrink-0">Update</button></td>
                                </form>
                                <!-- DELETE BUTTON   -->
                                    <td class="text-center align-middle"><a href="{{url_for('deleteitem', id=key)}}" type="submit">
                                        <i class="bi bi-x-circle text-black" ></i>
                                    </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card" style="border-radius: 0.3rem">
                        <div class="card-body d-flex justify-content-center p-5" style="background: #ecebf3 !important">
                                <div class="mb-md-5 mt-md-4 pb-2">
                                    <h2 class="fw-bold mb-2 text-dark-50 text-uppercase">Cart totals </h2>
                                    <p class="text-dark-50">Enter a Product brand</p>
                                        <p class="text-dark-50">Tax: {{tax}}</p>
                                        <p class="text-dark-50">Grand Total: {{grandTotal}} kr</p>
                                    </tr>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock content%}


