{% extends 'layout.html' %} {% block content %}

<section class="hero-section d-flex justify-content-center flex-column" style=" height: 100vh; background-size: cover; background-position: center ;background-image: url('https://images.unsplash.com/photo-1503767849114-976b67568b02?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80')">
    <div class="container">
      <div class="col-10 row align-items-center">
        <div class="col-md-7 col-lg-6">
            <div class="detail-box">
                    <img src="/static/pizzalo-animated.svg"
                    alt="">
                <div class="d-grid gap-2 col-12">
                    <a href="{{url_for('home')}}" class="btn btn-light">
                        Order Now
                    </a>
                </div>
            </div>
        </div>
        </div>
      </div>
    </div>
  </section>
  
{% endblock content%}
