{% extends 'layout.html' %} {% block content %} {% include 'navbar.html' %}

<!-- Product section-->
<section class="py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="row gx-4 gx-lg-5 align-items-center">
      <div class="col-md-6" id="b_image">
        <img class="card-img-top mb-5 mb-md-0" src="{{url_for('static',filename='images/'+ product.image_1)}}"
          alt="{{product.name}}" />
        <div class="container">
          <div class="row justify-content-md-center">
            <div class="col col-lg-2 d-inline-flex" id="s_image">
              <img src="{{url_for('static',filename='images/'+ product.image_1)}}" alt="{{product.name}}" width="100"
                height="100" />
              <img src="{{url_for('static',filename='images/'+ product.image_2)}}" alt="{{product.name}}" width="100"
                height="100" class="ml-5" />
              <img src="{{url_for('static',filename='images/'+ product.image_3)}}" alt="{{product.name}}" width="100"
                height="100" class="ml-5" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="small mb-1">PRODUCT NR: {{product.id}}</div>
        <h1 class="display-5 fw-bolder">{{product.name |capitalize}}</h1>
        <div class="fs-5 mb-5">
          <div class="badge bg-dark text-light rounded-0">-{{product.discount}} %</div>
          <span>{{ product.price }} kr</span>
        </div>
        <p class="lead">{{product.desc}}</p>
        <form action="{{url_for('AddCart')}}" method="post">
          <div class="d-flex">
            <input class="form-control text-dark text-center me-3 rounded-0" type="number" name="quantity" value="1" min="1"
              max="{{product.stock}}" style="max-width: 3rem" />
            {%set colors = product.colors.split(",") %}
            <select class="form-control-sm me-3 rounded-0 bg-transparent"  name="colors" id="colors">
              {% for color in colors %} {% set col = color.split(':') %}
              <option value="{{col[0]}}">{{col[0] | capitalize }}</option>
              {% endfor %}
            </select>

            <input type="hidden" name="product_id" value="{{product.id}}" />
            <button type="submit" class="btn btn-change flex-shrink-0 rounded-0">
              <i class="bi bi-bag-plus"></i>&nbsp;
              ADD TO CART
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<!-- Related items section-->
<section class="py-5 bg-light">
  <div class="container px-4 px-lg-5 mt-5">
    <h2 class="fw-bolder mb-4">Related products</h2>
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
      <div class="col mb-5">
        <div class="card h-100">
          <!-- Product image-->
          <img class="card-img-top" src="{{url_for('static' ,filename='images/' + product.image_1)}}"
          alt="{{product.name}}" />
          <!-- Product details-->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name-->
              <h5 class="fw-bolder">{{product.name |capitalize}}</h5>
              <!-- Product price-->
              {{ product.price }} kr
            </div>
          </div>
          <!-- Product actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
              <a class="btn btn-outline-dark mt-auto" href="#">View options</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col mb-5">
        <div class="card h-100">
          <!-- Sale badge-->
          <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
            Sale
          </div>
          <!-- Product image-->
          <img class="card-img-top" src="{{url_for('static' ,filename='images/' + product.image_1)}}"
            alt="{{product.name}}" />
          <!-- Product details-->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name-->
              <h5 class="fw-bolder">{{product.name}}</h5>
              <!-- Product reviews-->
              <div class="d-flex justify-content-center small text-warning mb-2">
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
              </div>
              <!-- Product price-->
              <span class="text-muted text-decoration-line-through">{{ product.discount }} %</span>
              {{ product.price }} kr
            </div>
          </div>
          <!-- Product actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
              <a class="btn btn-outline-dark mt-auto" href="#">ADD TO CART</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col mb-5">
        <div class="card h-100">
          <!-- Sale badge-->
          <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
            Sale
          </div>
          <!-- Product image-->
          <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
          <!-- Product details-->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name-->
              <h5 class="fw-bolder">Sale Item</h5>
              <!-- Product price-->
              <span class="text-muted text-decoration-line-through">$50.00</span>
              $25.00
            </div>
          </div>
          <!-- Product actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
              <a class="btn btn-outline-dark mt-auto" href="#">ADD TO CART</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col mb-5">
        <div class="card h-100">
          <!-- Product image-->
          <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
          <!-- Product details-->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name-->
              <h5 class="fw-bolder">Popular Item</h5>
              <!-- Product reviews-->
              <div class="d-flex justify-content-center small text-warning mb-2">
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
              </div>
              <!-- Product price-->
              $40.00
            </div>
          </div>
          <!-- Product actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
              <a class="btn btn-outline-dark mt-auto" href="#">ADD TO CART</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Footer-->

<!-- change between images -->
<script>
  var b_image = document.getElementById("b_image");
  var s_image = document.getElementById("s_image").getElementsByTagName("img");
  for (var i = 0; i < s_image.length; i++) {
    s_image[i].addEventListener("click", full_image);
  }
  function full_image() {
    var ImageSRC = this.getAttribute("src");
    b_image.innerHTML = "<img src=" + ImageSRC + " width='400' height='400'>";
  }
</script>

{% endblock content%}
