body{
	font-family: 'Khand', sans-serif;

}
form {
    font-family:Arial, Helvetica, sans-serif;
	font-weight: 100!important;
}

body {
    background-color: #ecebf3 !important;

    
}

/********* ul for error msg on login or register client user **********/
ul {
    list-style: none!important;
    padding-left: 0;
	color: red !important;
	font-weight:100;
	}
.navbar-nav{
	font-weight:400!important;
	
}
/********* END OF ul for error msg on login or register client user **********/

.btn-change{
	color: #000000 !important;
	border-color: #000000!important;
    -webkit-transition: all 0.5s ease-in-out;
}
.btn-change:hover{
	background:rgba(106, 17, 203, 1)!important;
	color: #fff !important;
	border-color: none!important;

}

.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right,
            rgba(106, 17, 203, 1),
            rgba(37, 117, 252, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right,
            rgba(106, 17, 203, 1),
            rgba(37, 117, 252, 1));
}

/* login/register form */
.form-control {
    background-color: transparent !important;
    color: rgb(219, 219, 219) !important;
}



.card-text{
    font-size: 14px;
    font-weight: 300;
}


/********* pagination **********/

.pagination > li > a
{
    background-color:#ecebf3;
    color: #5A4181;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #5a5a5a;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: white;
    background-color: #5A4181 !Important;
    border: solid 1px #5A4181 !Important;
}

.pagination > .active > a:hover
{
    background-color: #5A4181 !Important;
    border: solid 1px #5A4181;
}
/********* END pagination **********/


.cart_count
{
	position: absolute;
    top: 38%;
	width: 20px;
	height: 20px;
	background: rgba(106, 17, 203, 1);
	border-radius: 50%;
	text-align: center;
}
.cart_count span
{
	display: block;
	line-height: 18px;
	font-size: 12px;
	color: #FFFFFF;
	-webkit-transform: translateY(1px);
	-moz-transform: translateY(1px);
	-ms-transform: translateY(1px);
	-o-transform: translateY(1px);
	transform: translateY(1px);
}

.cart_icon img
{
	width: 60%;
	margin-right: -16rem;
}

.cart_price
{
	font-size: 14px;
	color: #000000;
	margin-top: -2px;
}

/********* search placeholder *********/
#myInput::placeholder {
	color: #000000;
  }
  
  #myInput.scroll::placeholder {
	color: #fff;
  }
/********* End search placeholder *********/

  