{% extends 'layout.html' %} {% block content %}
{% include 'navbar_admin.html' %}

<section class="vh-100">
  <div class="container pt-2 h-100">
    <div class="row d-flex h-100" >
      <div class="col-12 col-md-12 col-lg-6 col-xl-12">
        <div class="card bg-dark" style="border-radius: 1rem">
          <div class="card-body p-5">
            <div class="mb-md-5 mt-md-4 pb-2">
              {% include '_messages.html' %}
  <table class="table table-sm mt-2 text-center align-middle text-light">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">IMAGE</th>
        <th scope="col">NAME</th>
        <th scope="col">PRICE</th>
        <th scope="col">DISCOUNT</th>
        <th scope="col">BRAND</th>
        <th scope="col">EDIT</th>
        <th scope="col">ADD</th>
        <th scope="col">DELETE</th>
      </tr>
    </thead>
    <tbody>
      <h2 class="fw-bold mb-2 text-light text-uppercase">List of Products</h2>
      {% for product in products%}
      <tr>
        <td>{{loop.index}}</td>
        <td>
          <img src="{{url_for('static' , filename='images/' + product.image_1)}}" width="45rem" height="45rem"/>
        </td>
        
        <td class="col-lg-1">{{product.name}}</td>
        <td class="col-lg-1">{{product.price}}</td>
        <td class="col-lg-1">{{product.discount}}</td>
        <td class="col-lg-1">{{product.brand.name}}</td>
        <td><a  href="{{url_for('updateproduct', id=product.id)}}" 
          class="col-lg-5 btn btn-outline-warning btn-sm ">Edit</a></td>
        <td><a  href="{{url_for('addproduct')}}" 
            class="col-lg-5 btn btn-outline-info btn-sm ">Add</a></td>
        <td><button type="button" href="#" data-bs-toggle="modal" data-bs-target="#Modal-{{product.id}}" 
          class="col-lg-5 btn btn-outline-danger btn-sm">Delete</button></td>
      </tr>
      
<!-- Modal to Delete Product -->
<div class="modal fade" id="Modal-{{product.id}}" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabel">Product: {{product.name}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <span>Are you sure that you want to delete this product {{product.name}}</span>
      </div>
      <div class="modal-footer">
        
        <form action="{{url_for('deleteproduct', id=product.id)}}" method="POST">
          <button type="submit" class="col-lg-2 btn btn-outline-danger btn-sm">Delete</button>
        </form>
        
        <button type="button" class="col-lg-2 btn btn-outline-secondary btn-sm" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div> 
  </div>
</div>
<!-- End Modal to Delete Brand-->

      {% endfor %}
    </tbody>
  </table>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
{% endblock content %}
